android/native-gradle-node-folder/app/.cxx/cmake/debug/arm64-v8a/.ninja_deps
android/native-gradle-node-folder/app/.cxx/cmake/debug/arm64-v8a/.ninja_log
android/native-gradle-node-folder/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build_stdout_native-lib_arm64-v8a.txt
android/native-gradle-node-folder/app/.cxx/cmake/debug/armeabi-v7a/.ninja_deps
android/native-gradle-node-folder/app/.cxx/cmake/debug/armeabi-v7a/.ninja_log
android/native-gradle-node-folder/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_stdout_native-lib_armeabi-v7a.txt
android/native-gradle-node-folder/app/.cxx/cmake/debug/x86/.ninja_deps
android/native-gradle-node-folder/app/.cxx/cmake/debug/x86/.ninja_log
android/native-gradle-node-folder/app/.cxx/cmake/debug/x86/android_gradle_build_stdout_native-lib_x86.txt
android/native-gradle-node-folder/app/.cxx/cmake/debug/x86_64/.ninja_deps
android/native-gradle-node-folder/app/.cxx/cmake/debug/x86_64/.ninja_log
android/native-gradle-node-folder/app/.cxx/cmake/debug/x86_64/android_gradle_build_stdout_native-lib_x86_64.txt
